<% if blogs.present? %>
  <p> Blogs: </p>
  <ul>
    <% blogs.each do |blog| %>
        <li>
          <%= blog.title %>
          <%= link_to 'View', blog %>
        </li>
    <% end %>
  </ul>
<% else %>
  No matching results found!
<% end %>

