<% if blogs.present? %>
  <p> Blogs: </p>
  <ul>
    <% blogs.each do |blog| %>
        <li>
          <%= blog.title %>
          <%= link_to 'View', blog %>
        </li>
    <% end %>
  </ul>
<% end %>

<% if taggings.present? %>
  <p>Click on tags below to narrow your search further: </p>
  <ul>
    <% taggings.each do |tagging|%>
      <li>
        <%= link_to tagging.value, search_tag_path(tagging_id: tagging.id) %>
      </li>
    <% end %>
  </ul>
<% end %>

<% if blogs.blank? && taggings.blank? %>
  No matching results found!
<% end %>

